
.switch{
    position:relative;
    display:inline-block;
    width:90px;
    height:45px;
    border-radius: 64px;
}
.switch input{
    opacity:0;
    width:0;
    height:0;
}
.slider{
    position:absolute;
    cursor: pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #CCCCCC;
    border-radius: 64px;
    transition: 0.4s;
}
.slider:before{
    position:absolute;
    content:"";
    height:35px;
    width:35px;
    left:5px;
    bottom:5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
input:checked + .slider{
    background-color: #16A249;
}

input:checked + .slider::before{
    transform:translateX(44px)
}